<div fxLayout="column" fxLayoutAlign="start center">
    Export
    <div
        class="interactive-square"
        fxLayout="row"
        fxLayoutAlign="center center"
        [matMenuTriggerFor]="exportMenu">
        <mat-icon class="larger-icon">file_download</mat-icon>
    </div>
</div>

<mat-menu #exportMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="exportAsLog">as .log</button>
    <button mat-menu-item [matMenuTriggerFor]="exportAsXes">as .xes</button>
    <button mat-menu-item [matMenuTriggerFor]="exportAsSvg">as .svg</button>
</mat-menu>

<mat-menu #exportAsLog="matMenu">
    <app-export-menu-item
        buttonText="Complete Eventlog"
        [fileContent]="getLogExportValue(_eventLogDataService.eventLog)"
        fileType="text/plain;charset=utf-8"
        fileName="event.log"
        [datePrefix]="true"
        [disabled]="false"
        [reimport]="false"
        (processReimport)="processReimport()"></app-export-menu-item>
    <app-export-menu-item
        buttonText="Selected Traces"
        [fileContent]="
            getLogExportValue(
                _eventLogDataService.eventLogWithSelectedOrNothingWhenNothingSelected
            )
        "
        fileType="text/plain;charset=utf-8"
        fileName="event.log"
        [datePrefix]="true"
        [disabled]="_selectedTraceCaseIds.length === 0"
        [reimport]="false"
        (processReimport)="processReimport()"></app-export-menu-item>
    <app-export-menu-item
        buttonText="Selected Traces and Reimport"
        [fileContent]="
            getLogExportValue(
                _eventLogDataService.eventLogWithSelectedOrNothingWhenNothingSelected
            )
        "
        fileType="text/plain;charset=utf-8"
        fileName="event.log"
        [datePrefix]="true"
        [disabled]="_selectedTraceCaseIds.length === 0"
        [reimport]="true"
        (processReimport)="processReimport()"></app-export-menu-item>
</mat-menu>

<mat-menu #exportAsXes="matMenu">
    <app-export-menu-item
        buttonText="Complete Eventlog"
        [fileContent]="getXesExportValue(_eventLogDataService.eventLog)"
        fileType="text/plain;charset=utf-8"
        fileName="event.xes"
        [datePrefix]="true"
        [disabled]="false"
        [reimport]="false"
        (processReimport)="processReimport()"></app-export-menu-item>
    <app-export-menu-item
        buttonText="Selected Traces"
        [fileContent]="
            getXesExportValue(
                _eventLogDataService.eventLogWithSelectedOrNothingWhenNothingSelected
            )
        "
        fileType="text/plain;charset=utf-8"
        fileName="event.xes"
        [datePrefix]="true"
        [disabled]="_selectedTraceCaseIds.length === 0"
        [reimport]="false"
        (processReimport)="processReimport()"></app-export-menu-item>
    <app-export-menu-item
        buttonText="Selected Traces and Reimport"
        [fileContent]="
            getXesExportValue(
                _eventLogDataService.eventLogWithSelectedOrNothingWhenNothingSelected
            )
        "
        fileType="text/plain;charset=utf-8"
        fileName="event.xes"
        [datePrefix]="true"
        [disabled]="_selectedTraceCaseIds.length === 0"
        [reimport]="true"
        (processReimport)="processReimport()"></app-export-menu-item>
</mat-menu>

<mat-menu #exportAsSvg="matMenu">
    <app-export-menu-item
        buttonText="Value-Chain"
        [fileContent]="getSvgValueChainExportValue()"
        fileType="text/plain;charset=utf-8"
        fileName="event.svg"
        [datePrefix]="true"
        [disabled]="false"
        [reimport]="false"
        (processReimport)="processReimport()"></app-export-menu-item>
    <app-export-menu-item
        buttonText="Directly-Follows-Graph"
        [fileContent]="getSvgDirectlyFollowsGraphExportValue()"
        fileType="text/plain;charset=utf-8"
        fileName="event.svg"
        [datePrefix]="true"
        [disabled]="false"
        [reimport]="false"
        (processReimport)="processReimport()"></app-export-menu-item>
</mat-menu>
