.red {
    color: red;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

hr.header-divider {
    margin: 0 0 15px 0;
}

.sidenav-bar {
    max-width: 50%
}

.right{
    position: absolute;
    right: 15px;
    top: 10px;
}

.scrollable-when-too-large {
    overflow: auto;
}

.menubar {
    padding-top: 15px;
}

.mat-form-field.input-form-field {
    width: 100%;
}
