<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="header">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/"
            ><h1>I <span class="red">❤</span> Petri Nets</h1></a
        >
        <h2>Show an event log as a Value-Chain or Directly-Follows-Graph.</h2>
    </div>
    <hr class="header-divider" />
    <div class="main-app-body">
        <app-drawing-area
            (filterChanged)="updateFilter($event)"></app-drawing-area>
        <div class="menubar" fxLayoutGap="20px">
            <div class="menu-buttons" fxLayoutGap="20px" fxFlex="1 0 auto">
                <app-upload-button
                    [permittedFileExtensions]="['xes', 'log', 'txt']"
                    (newFileUploadedEventExtensionContent)="
                        processImport($event)
                    "></app-upload-button>
                <app-export-button
                    (processImport)="processImport($event)"></app-export-button>
            </div>
            <mat-form-field
                appearance="outline"
                class="input-form-field"
                fxFlex="1 1 100%">
                <mat-label>Source file</mat-label>
                <textarea
                    class="textarea"
                    rows="13"
                    matInput
                    [formControl]="textareaFc"></textarea>
            </mat-form-field>
        </div>
    </div>
    <hr />
    <app-footer></app-footer>
</div>
