<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="header">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/"
        ><h1>I <span class="red">❤</span> Petri Nets</h1></a
        >
        <h2>
            Show an event log as a Value-Chain or Directly-Follows-Graph.
        </h2>
    </div>
    <hr class="header-divider"/>
    <mat-sidenav-container class="sidenav-container" autosize>
        <mat-sidenav #sidenav mode="side" position="end" class="sidenav-bar">
            <div class="scrollable-when-too-large">
                <app-traces-detail-view
                    #tracesDetailView></app-traces-detail-view>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <button
                class="right"
                mat-icon-button
                mat-raised-button
                [disabled]="_selectedTraceCaseIds.length === 0"
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="main-app-body">
                <app-drawing-area class="drawing-area"></app-drawing-area>
                <div class="menubar" fxLayout="row" fxLayoutAlign="start start">
                    <app-upload-button fxFlex
                        [permittedFileExtensions]="['xes', 'log', 'txt']"
                        (newFileUploadedEventExtensionContent)="
                            processImport($event)
                        "></app-upload-button>
                    <mat-form-field appearance="outline" class="textarea" fxFlex="3 1 0">
                        <mat-label>Source file</mat-label>
                        <textarea class="source-file"
                            matInput
                            [formControl]="textareaFc"></textarea>
                    </mat-form-field>
                    <app-export-button fxFlex class="menu-button"
                        (processImport)="processImport($event)"></app-export-button>
                </div>

            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <hr />
    <app-footer></app-footer>
</div>
