.switch-view-button {
    font-family: "Courier New", sans-serif;
    border-color: grey;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    margin: 3px;
    background-color: #7f7f7f;;
    color: white;
}

.switch-view-button:hover {
    border-color: black;
    cursor: pointer;
}
