<app-switch-view-button
    initialText="Display as Directly-Follows-Graph"
    switchedText="Display as Value-Chain"
    (switchViewEvent)="switchView()"></app-switch-view-button>
<app-switch-direction-button
    *ngIf="!direktfolgegraphHidden"
    (switchDirectionEvent)="switchDirection()"></app-switch-direction-button>
<div #drawingArea class="drawingArea" (click)="clickDrawArea()">
    <app-wertschoepfungskette
        [clientWidth]="canvasWidth"
        [hidden]="wertschoepfungsketteHidden"
        class="padding full-size"></app-wertschoepfungskette>
    <app-directly-follows-graph
        [hidden]="direktfolgegraphHidden"
        class="padding full-size"></app-directly-follows-graph>
</div>
