<div fxLayout="row">
    <div class="card">
        <span>
            <app-change-view-button
                (changeViewEvent)="changeView($event)"></app-change-view-button>
            <app-switch-direction-button
                *ngIf="!directlyFollowsGraphHidden"
                (switchDirectionEvent)="
                    switchDirection()
                "></app-switch-direction-button>
        </span>
    </div>
    <app-filter-area (filterChanged)="applyFilter($event)"></app-filter-area>
</div>
<div class="loading-screen" *ngIf="loading$ | async">
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>
<div #drawingArea class="drawingArea" (click)="clickDrawArea()">
    <app-value-chain
        [clientWidth]="canvasWidth"
        [hidden]="valueChainHidden"
        class="padding full-size"></app-value-chain>
    <app-directly-follows-graph
        [hidden]="directlyFollowsGraphHidden"
        class="padding full-size"></app-directly-follows-graph>
    <app-log-information-view
        [hidden]="logInformationHidden"></app-log-information-view>
</div>
