.drawingArea {
    height: 350px;
    border: dotted lightgrey;
    overflow: auto;
    resize: vertical;
    margin-top: 15px;
}

.loading-screen {
    width: 100%;
    height: 100%;
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
